.advantages {
  text-align: center;
}

.advantages__header {
  padding: 32px 18px;

  @media (min-width: $tablet-width) {
    padding: 48px 124px 56px 124px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 290px 44px 290px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &--features {
    margin: 0;
    padding: 23px 18px 46px 18px;
    list-style: none;
  }
}

.advantages__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 11px;
}

.advantages__number {
  display: block;
  margin-bottom: 17px;
}

.advantages__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $dark-grey;
  margin: 0;
}

.advantages__item {
  background-color: $light-grey;
  padding: 24px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 41px 33px;
    width: 33.33%;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px;
  }

  &--figure {
    background-color: $white;
    padding: 0;
    width: 100%;

    .advantages__title,
    .advantages__number,
    .advantages__description {
      color: $white;
    }

    @media (min-width: $tablet-width) {
      padding: 0;
      width: 100%;
    }
  }

  &--features {
    background-color: $white;
    text-align: left;
    padding: 0 18px 33px 65px;

    .advantages__title {
      margin-bottom: 16px;
    }

    @media (min-width: $tablet-width) {
      text-align: center;
      padding: 155px 33px 60px 33px;
    }

    @media (min-width: $desktop-width) {
      padding: 169px 50px 70px 50px;
    }

    &::before {
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      top: -7px;
      left: 15px;
      width: 40px;
      height: 40px;

      @media (min-width: $tablet-width) {
        left: 50%;
        transform: translateX(-50%);
        top: 60px;
      }

      @media (min-width: $desktop-width) {
        top: 70px;
      }
    }
  }

  &--live {
    padding-top: 23px;

    @media (min-width: $tablet-width) {
      padding-top: 155px;
    }

    @media (min-width: $tablet-width) {
      padding-top: 169px;
    }
  }

  &--souvenirs {
    padding-bottom: 46px;
  }

  &--live::before {
    background-image: url("../img/icons/house.svg");
    top: 23px;

    @media (min-width: $tablet-width) {
      top: 69px;
    }
  }

  &--food::before {
    background-image: url("../img/icons/food.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/icons/gift.svg");
    width: 32px;
    height: 38px;
  }

  &--devider::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 90%;
    background-color: $grey-devider;
    left: 50%;
    transform: translateX(-50%);
    top: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--devider::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 90%;
    background-color: $grey-devider;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__photo {
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
    object-fit: cover;
  }
}

