.button {
  display: inline-flex;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  justify-content: center;
  align-items: center;
  color: $white;
  background-color: $blue;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px;
  border: none;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    background-color: $blueHover;
  }

  &:active {
    background-color: $blueDown;
  }
}
