.catalog {
  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }
}

.catalog__header {
  padding: 37px 20px 25px 20px;

  @media (min-width: $tablet-width) {
    padding: 66px 115px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 340px 69px 340px;
  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__item {
  padding: 20px 25px;
  border-top: 1px solid $grey-devider-catalog;

  &:last-child {
    border-bottom: 1px solid $grey-devider-catalog;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 50%;
    border: none;

    &:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: calc(100% / 3);
  }
}

.catalog__figure {
  margin: 0;
}

.catalog__image {
  margin: 0;
  margin-bottom: 15px;
  width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.catalog__item--full {
  width: 100%;

  .catalog__figcaption {
    @media (min-width: $tablet-width) {
      padding: 16px 20px 15px 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 22px 20px 15px 21px;
      margin-top: -117px;
    }
  }
}

.catalog__link {
  display: flex;
}

.catalog__figcaption {
  color: $black;

  @media (min-width: $tablet-width) {
    background-color: $grey;
    padding: 22px 21px 15px 21px;
  }

  @media (min-width: $desktop-width) {
    color: $white;
    width: 100%;
    padding: 17px 20px 17px 25px;
    margin-top: -113px;
    z-index: 3;
  }
}

.catalog__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.catalog__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $dark-grey;
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.catalog__likes {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-left: 14px;

  @media (min-width: $desktop-width) {
    color: $white;
    margin-left: 9px;
  }
}
