.copyright {
  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center;

  &:hover {
    color: $blue;
  }

  &:active {
    color: $grey-active;
  }
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-right: 12px;
}
