.feedback-form {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }
}

.feedback-form__fieldset {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;

  @media (max-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: calc(100% + 40px);
      background-color: $grey-devider-catalog;
      top: -69px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--representative {
    @media (max-width: $tablet-width) {
      margin-bottom: 64px;
      margin-top: 24px;
    }
  }

  &--contacts {
    @media (max-width: $tablet-width) {
      margin-bottom: 59px;
    }
  }

  &--general {
    margin-bottom: 49px;

    @media (min-width: $tablet-width) {
      border-top: 1px solid $grey-devider;
      margin-bottom: 48px;

      .feedback-form__legend {
        padding-right: 65px;
        padding-left: 65px;
      }
    }
  }

  &--attractions {
    margin-bottom: 49px;

    @media (min-width: $tablet-width) {
      margin-bottom: 42px;
      border-top: 1px solid $grey-devider;

      .feedback-form__legend {
        padding-right: 65px;
        padding-left: 65px;
      }
    }
  }

  &--emotions {
    margin-bottom: 56px;

    @media (min-width: $tablet-width) {
      border-top: 1px solid $grey-devider;

      .feedback-form__legend {
        padding-right: 65px;
        padding-left: 65px;
      }
    }
  }
}

.feedback-form__fieldset-wpapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 58px;
    position: relative;
    margin-bottom: 63px;

    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 1px;
      background-color: $grey-devider-catalog;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    gap: 100px;
  }
}

.feedback-form__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }
}

.feedback-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
  }

  &--general {
    @media (min-width: $tablet-width) {
      margin-left: 96px;
    }
  }

  &--attractions {
    @media (min-width: $tablet-width) {
      margin-left: 144px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
  }
}

.feedback-form__textarea {
  background-color: $grey;
  border: none;
  font-weight: 700;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  width: 100%;
}

.feedback-form__button {
  width: 100%;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin: 0;
    max-width: 324px;
  }

  @media (min-width: $desktop-width) {
    max-width: 384px;
  }
}

.feedback-form__wrapper-required {
  display: flex;
  flex-wrap: wrap;
}

.feedback-form__required {
  align-self: center;
  margin-left: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
