.feedback-form {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }
}

.feedback-form__fieldset {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;

  &::before {
    @media (max-width: $mobile-only) {
      position: absolute;
      content: "";
      height: 1px;
      width: calc(100% + 40px);
      background-color: $grey-devider-catalog;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--representative {
    @media (max-width: $mobile-only) {
      margin-bottom: 70px;
      margin-top: 24px;

      &::before {
        top: -72px;
      }
    }
  }

  &--contacts {
    @media (max-width: $mobile-only) {
      margin-bottom: 64px;

      &::before {
        top: -72px;
      }
    }
  }

  &--general {
    margin-bottom: 60px;

    &::before {
      top: -82px;
    }

    @media (min-width: $tablet-width) {
      border-top: 1px solid $grey-devider;
      margin-bottom: 58px;

      .feedback-form__legend {
        padding-right: 65px;
        padding-left: 65px;
        margin-bottom: 40px;
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 48px;

      .feedback-form__legend {
        margin-bottom: 55px;
      }
    }
  }

  &--attractions {
    margin-bottom: 60px;

    &::before {
      top: -105px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 16px;
      border-top: 1px solid $grey-devider;

      .feedback-form__legend {
        padding-right: 63px;
        padding-left: 63px;
        margin-bottom: 39px;
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 62px;

      .feedback-form__legend {
        margin-bottom: 70px;
      }
    }
  }

  &--emotions {
    margin-bottom: 50px;

    &::before {
      top: -73px;
    }

    @media (min-width: $tablet-width) {
      border-top: 1px solid $grey-devider;
      margin-bottom: 42px;

      .feedback-form__legend {
        padding-right: 65px;
        padding-left: 65px;
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 46px;
    }
  }
}

.feedback-form__fieldset-wpapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 58px;
    position: relative;
    margin-bottom: 68px;

    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 1px;
      background-color: $grey-devider-catalog;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
    gap: 100px;
  }
}

.feedback-form__item {
  padding-bottom: 35px;

  &--attractions {
    padding-bottom: 40px;

    @media (min-width: $tablet-width) {
      padding-bottom: 34px;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.feedback-form__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;

  &--general {
    margin-bottom: 30px;
  }

  &--attractions {
    margin-bottom: 28px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
    font-size: 21px;
  }
}

.feedback-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 63px;
  }

  &--general {
    @media (min-width: $tablet-width) {
      margin-left: 37px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 52px;
      flex-wrap: wrap;
    }
  }

  &--attractions {
    @media (min-width: $tablet-width) {
      margin-left: 83px;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      margin-left: 43px;
    }
  }
}

.feedback-form__textarea {
  background-color: $grey;
  border: none;
  font-weight: 700;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  padding-bottom: 30px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    max-width: 768px;
  }

  &:hover {
    background-color: $grey-devider-catalog;
  }

  &:focus {
    background-color: $white;
    outline: none;
    box-shadow: inset 0 0 0 4px $grey-devider-catalog;
  }
}

.feedback-form__button {
  width: 100%;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin: 0;
    max-width: 324px;
  }

  @media (min-width: $desktop-width) {
    max-width: 384px;
  }
}

.feedback-form__wrapper-required {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 95px 0 95px;
  }
}

.feedback-form__required {
  align-self: center;
  margin-left: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    padding-top: 11px;
  }
}


.feedback-form__label {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
  }
}
