.feedback-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.feedback-form__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form__fieldset--emotions {
  margin-bottom: 56px;
}
