.figure {
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  &--reverse {
    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;
    }
  }
}

.figure__description {
  padding: 38px 20px 36px 20px;
  background-color: $blue;

  @media (min-width: $tablet-width) {
    padding: 52px 35px 31px 35px;
  }

  &--decor {
    padding: 50px 20px 40px 20px;
    clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 100%, 0 0);

    @media (min-width: $tablet-width) {
      padding: 52px 37px 31px 37px;
      clip-path: unset;
    }
  }
}

.figure__photo {
  width: 100%;
  height: auto;
}
