.form {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }
}

.form__header {
  padding-top: 36px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding: 64px 146px 108px 146px;
  }

  @media (min-width: $desktop-width) {
    padding: 115px 250px 68px 250px;
  }
}
