.navigation__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.navigation__item {
  padding-top: 18px;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    width: 20%;

    &--current {
      .navigation__link {
        color: $light-brown;
      }
    }
  }

  &:nth-child(4n+3) {
    @media (min-width: $tablet-width) {
      margin: 0 0 0 20%;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 18px 25px;
  }
}

.navigation__link {
  color: $white;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 14px;
    line-height: 21px;
  }
}

@media (min-width: $tablet-width) {
  .navigation__toggle {
    display: none;
  }
}

