.page-header {
  text-transform: uppercase;
  color: $black;
  background-color: $white;
  min-height: 56px;
}

.page-header__logo {
  z-index: 10;
  position: absolute;
  width: 185px;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  .no-js &,
  .is-open & {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}
