.radio {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 62px;
}

.radio__control {
  position: absolute;
  top: -11px;
  left: 0;
  width: 46px;
  height: 46px;
  background: $grey;
  border-radius: 50%;
}

.radio:hover .radio__control {
  background-color: $grey-devider-catalog;
}

.radio:active .radio__control {
  background-color: $grey-devider;
}

.radio__input:focus + .radio__control {
  box-shadow: 0 0 0 2px $black;
}

.radio__input[type="radio"]:checked + .radio__control::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: $dark-grey;
  border-radius: 50%;
  content: "";
}
