.search {
  text-align: center;
  padding: 38px 18px 49px 18px;

  @media (min-width: $tablet-width) {
    padding: 60px 155px 55px 155px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 370px 66px 370px;
  }
}

.search__title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.search__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $darkGrey;
  margin: 0;
  margin-bottom: 32px;
}
