.search {
  text-align: center;
  padding: 43px 18px 49px 18px;

  @media (min-width: $tablet-width) {
    padding: 60px 155px 55px 155px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 370px 66px 370px;
  }
}

.search__title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.search__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $dark-grey;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 45px;
  }
}

.search__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 458px;
  }
}
