.social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  gap: 6px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  color: $white;
  width: 48px;
  height: 48px;
  text-decoration: none;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-down;
    color: rgba(255, 255, 255, 0.3);
  }
}
