$white: #ffffff;
$Grey: #f2f2f2;
$lightGrey: #eeeeee;
$darkGrey: #333333;
$lightBrown: #766357;
$black: #000000;
$blue: #81b3d2;
$blueHover: #669ec0;
$blueDown: #5496bd;
$tablet-width: 768px;
$desktop-width: 1200px;
